services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  TYPO3\CMS\FrontendLogin\:
    resource: '../Classes/*'

  feloginPasswordRecovery.rateLimiterFactory:
    class: TYPO3\CMS\Core\RateLimiter\RateLimiterFactory
    arguments:
      $config:
        id: 'felogin-password-recovery'
        policy: 'sliding_window'
        limit: 5
        interval: '15 minutes'

  TYPO3\CMS\FrontendLogin\Controller\PasswordRecoveryController:
    arguments:
      $rateLimiterFactory: '@feloginPasswordRecovery.rateLimiterFactory'
